body{
	margin:0;
	padding:0;
	background:#333;
}
header{
	width:640px;
	margin: 0 auto;
	overflow:hidden;
}
header h1{
	font-family: 'Ubuntu', sans-serif;
	color:#444;
	font-size:40px;
}
#main{
	width:640px;
	height:480px;
	margin:0 auto;
	border:1px groove #444;
	background:#444;
	padding: 0 1px 1px 0;
}
#main.drag-over{
	background:#555;
}
#main .content{
	padding:30px;
}




